<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}List of Task{%endblock title%}</title>
    {%endblock head%}
</head>
    {%block body%}
<body class="text-center">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">ITS: Static Instructor </h3>
        </div>
        </header>
        <main role="main" class="inner cover">
        <p class="lead">
        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Log in</a>
        <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Register</a>
        </main>
    {%endblock body%}
</body>
</html>